* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    width: 100%;
    height: 100%;
}

.green {
    color: #56B280;
}

.steps {
    display: flex;
    gap: 1rem;
}

.main {
    float: left;

    .main section {
        width: 50%;
        float: left;
    }
}

.main section {
    width: 50%;
    float: left;
}
.main img {
    
}
.main-left {
    float: left;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 6rem;
}

.menu-info {
    display: flex;
}

.confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.confirm h1{
    padding: 1rem;
}
.confirm p{
    padding: 1rem;
}

.main-right {
    background-color: #F2F2F2;
    height: 100%;
    padding: 2.5rem;
}
.main-right .dados img{
    padding-bottom: 7rem;
}

.main-right .dados .total{
padding-top: 7rem;
}
.words{
    padding-bottom: 1.5rem;
    padding-top: 1rem ;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-family: 'Roboto';
    font-size: 1.313rem;
    font-weight: 500;
    text-align: center;
    background-color: #56B280;

    border: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 1px 15px #56B280;
    transition: .3s;
}

button a {
    text-decoration: none;
    color: #FFFF;
}